.content-column-content p,
.content-column-content li {
  color: black;
}

blockquote {
    padding: 12px 24px;
    background: whitesmoke;
    margin: 0 0 24px;
    font-size: 16px;
    border-left: 5px solid lightgrey;
}


body {
  background-color: ivory;
}